# Copyright 2026 Cirrus Logic, Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig HAPTICS_CS40L26
	bool "CS40L26/27 Haptics Driver"
	default y
	depends on DT_HAS_CIRRUS_CS40L26_ENABLED || \
		   DT_HAS_CIRRUS_CS40L27_ENABLED
	help
	  Enable CS40L26/27 haptics driver.

if HAPTICS_CS40L26

config HAPTICS_CS40L26_A1
	def_bool $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L26),i2c) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L26),spi)

config HAPTICS_CS40L27_B2
	def_bool $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L27),i2c) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L27),spi)

config HAPTICS_CS40L26_PM_ACTIVE_TIMEOUT
	int "Active Timeout"
	default 0
	range 0 327680
	help
	  After the device has finished playing an effect, wait the specified amount
	  of time (in units of 1/32768 seconds) before entering the standby state.

config HAPTICS_CS40L26_PM_STDBY_TIMEOUT
	int "Standby Timeout"
	default 32768
	range 0 327680
	help
	  When the device enters the standby state with hibernation enabled, wait the
	  specified amount of time (in units of 1/32768 seconds) before entering hibernation.

endif #HAPTICS_CS40L26
