# Copyright 2026 Cirrus Logic, Inc.
# SPDX-License-Identifier: Apache-2.0

config HAPTICS_CIRRUS
	def_bool DT_HAS_CIRRUS_CS40L26_ENABLED || \
		 DT_HAS_CIRRUS_CS40L27_ENABLED || \
		 DT_HAS_CIRRUS_CS40L50_ENABLED || \
		 DT_HAS_CIRRUS_CS40L51_ENABLED || \
		 DT_HAS_CIRRUS_CS40L52_ENABLED || \
		 DT_HAS_CIRRUS_CS40L53_ENABLED

if HAPTICS_CIRRUS

config HAPTICS_CIRRUS_I2C
	def_bool $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L26),i2c) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L27),i2c) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L50),i2c) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L51),i2c) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L52),i2c) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L53),i2c)
	select I2C

config HAPTICS_CIRRUS_SPI
	def_bool $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L26),spi) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L27),spi) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L50),spi) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L51),spi) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L52),spi) || \
		 $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS40L53),spi)
	select SPI

config HAPTICS_CIRRUS_RESET
	def_bool $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L26),reset-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L27),reset-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L50),reset-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L51),reset-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L52),reset-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L53),reset-gpios)

config HAPTICS_CIRRUS_INTERRUPT
	def_bool $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L26),int-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L27),int-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L50),int-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L51),int-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L52),int-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L53),int-gpios)

config HAPTICS_CIRRUS_TRIGGER
	def_bool $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L26),trigger-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L27),trigger-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L50),trigger-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L51),trigger-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L52),trigger-gpios) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L53),trigger-gpios)

config HAPTICS_CIRRUS_FLASH
	def_bool $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L26),flash-storage) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L27),flash-storage) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L50),flash-storage) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L51),flash-storage) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L52),flash-storage) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L53),flash-storage)
	select FLASH

config HAPTICS_CIRRUS_CALIBRATION
	bool "Calibration"
	default y
	help
	  Enables calibration routine and optionally writes calibration data to flash memory if
	  flash storage is provided.

config HAPTICS_CIRRUS_CLICK_COMPENSATION
	bool "Click compensation"
	default y
	help
	  If enabled, the device uses calibrated F0 and ReDC values to adjust the amplitude and
	  time scale of the reference waveform to compensate for variations in LRAs. Calibration
	  data is required for click compensation to be effective.

config HAPTICS_CIRRUS_DYNAMIC_F0
	bool "Dynamic F0 compensation"
	default y
	help
	  If enabled, the device estimates F0 during playback for haptic effects on a
	  waveform-by-waveform basis and adjusts subsequent playback events to improve F0 accuracy.

config HAPTICS_CIRRUS_DEBOUNCE_US
	int "Interrupt debounce threshold in microseconds"
	default 500
	range 0 10000
	help
	  Specifies the delay in microseconds when scheduling a worker to handle a GPIO callback
	  event.

config HAPTICS_CIRRUS_POLLING_INTERVAL_US
	int "Interval for polling registers in microseconds"
	default 1000
	range 0 1000000
	help
	  Specifies the delay in microseconds between reading hardware registers when polling for
	  an expected value.

config HAPTICS_CIRRUS_TIMEOUT_MS
	int "Timeout threshold for API calls in milliseconds"
	default 1000
	range 0 10000
	help
	  Specifies the timeout in milliseconds that an API function call will wait for a mutex
	  lock before erroring out.

endif #HAPTICS_CIRRUS
