# Copyright 2025 Cirrus Logic, Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig HAPTICS_CS40L5X
	bool "CS40L5x Haptics Driver"
	default y
	depends on DT_HAS_CIRRUS_CS40L50_ENABLED || \
		   DT_HAS_CIRRUS_CS40L51_ENABLED || \
		   DT_HAS_CIRRUS_CS40L52_ENABLED || \
		   DT_HAS_CIRRUS_CS40L53_ENABLED
	help
	  Enable CS40L5x haptics driver.

if HAPTICS_CS40L5X

config HAPTICS_CS40L5X_EXTERNAL_BOOST
	def_bool $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L50),external-boost) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L51),external-boost) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L52),external-boost) || \
		 $(dt_compat_any_has_prop,$(DT_COMPAT_CIRRUS_CS40L53),external-boost)

config HAPTICS_CS40L5X_CUSTOM_EFFECTS
	bool "Custom Haptics Sources (PCM/PWLE)"
	default y
	help
	  Enable upload and playback of custom PCM and PWLE waveforms.

config HAPTICS_CS40L5X_DSP_LOGGER
	bool "DSP Logging"
	default y
	help
	  Enable runtime configuration of the DSP logger, which can
	  report back EMF, voltage, and voltage boost information.

config HAPTICS_CS40L5X_PM_ACTIVE_TIMEOUT
	int "Active Timeout"
	default 0
	range 0 327680
	help
	  After the device has finished playing an effect, wait the specified amount
	  of time (in units of 1/32768 seconds) before entering the standby state.

config HAPTICS_CS40L5X_PM_STDBY_TIMEOUT
	int "Standby Timeout"
	default 32768
	range 0 327680
	help
	  When the device enters the standby state with hibernation enabled, wait the
	  specified amount of time (in units of 1/32768 seconds) before entering hibernation.

endif #HAPTICS_CS40L5X
