# Copyright (c) 2025 Cirrus Logic, Inc.
# SPDX-License-Identifier: Apache-2.0

# Required to flash and debug using SEGGER J-Link
CONFIG_GPIO=y

CONFIG_CONSOLE=y
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y
CONFIG_UART_RTT=y
CONFIG_SERIAL=y

CONFIG_FLASH=y
CONFIG_HAPTICS=y

CONFIG_GPIO=y
